<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to "GroceryStore", root_path, class: "navbar-brand" %>
    <div class="navbar-nav mr-auto mt-2 mt-lg-0">
    </div>
    <% if signed_in? %>
      <%= link_to carts_path, class: "mr-3 shopping-cart-link" do %>
        <i class="fas fa-shopping-cart fa-2x"></i>
        <i id="show_order_quantity_cart" class="badge badge-primary"><%= current_order.quantity_of_line_items %></i>
      <% end %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-danger" %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</nav>
